html, body {
    background-color: #fff;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.nav {
    background: #444;
}

.welcome-title{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    width: auto;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #333;
    color: #ffffff;
}

.nav a:focus{
    text-decoration: none;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

#showUsersTable{
    margin-top: 50px;
    border: 1px solid #ccc;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

}